option_settings:
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:613728556879:certificate/e78ab1fc-fe22-4ec1-be2a-734741910b63
    HealthCheckPath: /clients/count
  aws:elbv2:listener:3000:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:613728556879:certificate/e78ab1fc-fe22-4ec1-be2a-734741910b63
    HealthCheckPath: /clients/count
